* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: auto;
}

div#help {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 480px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
}